.AboutUs-container {
  background-color: black;
  padding: 8vh 10vw;
  /* width: 100vw; */
}

.AboutUs-container h2 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.AboutUs-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 30px;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .AboutUs-container h2 {
    font-size: 30px;
  }

  .AboutUs-grid-container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
